* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.portfolio,
.search_company {
  display: flex;
  /* height: 90vh; */
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.portfolio {
  /* background-image: url('/public/images/img-2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  font-size: 100px;
}

.search_company {
  /* background-image: url('/public/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #000;
  font-size: 40px;
}

.custom-btn {
  background-color: #ff6136;
  color: black;
  padding: 15px 35px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

.custom-btn:hover {
  transition: all 0.3s ease-out;
  background: #ffa74f;
  color: black;
}

.p_custom {
  font-size: 20px;
}